<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    
    <%= render 'layouts/shim' %>
    <%= render 'layouts/rails_default' %>
    
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    
  </body>
</html>
